@import "../../theme/variables.scss";

.home {
  dd {
    margin-bottom: 15px;
  }
}
.masthead {
  background: #333333;
  padding: 0px 20px 130px 20px;
  color: white;
  text-align: center;
  .logo {
    $size: 600px;
    margin: auto;
    height: $size;
    width: $size;
    //border-radius: $size;
    //border: 1px solid $white;
    //box-shadow: inset 0 0 10px $white;
    vertical-align: middle;
    p {
      line-height: $size;
      margin: 0px;
    }
    img {
      margin: auto;
    }
  }
  h1 {
    color: $white;
    font-size: 4em;
  }
  h2 {
    color: #ddd;
    font-size: 2em;
    margin: 20px;
  }
  a {
    color: #ddd;
  }
  p {
    margin: 10px;
  }
  .humility {
    color: $humility;
    a {
      color: $humility;
    }
  }
  .github {
    font-size: 1.5em;
  }
}

.counterContainer {
  text-align: center;
  margin: 20px;
}
